module.exports = {
  totalPrice: function (checkedGoodsItems) {
    return checkedGoodsItems.reduce(function (totalPrice, checkedGoodsItem) {
      return totalPrice += checkedGoodsItem.goods_price * checkedGoodsItem.goods_number
    }, 0)
  },
  checkedGoodsNum: function (checkedGoodsItems) {
    return checkedGoodsItems.length
  },
  hasConsignee: function (consignee) {
    var keys = ['address', 'name', 'phone']

    return keys.every(function (key) {
      return consignee[key] !== '' && consignee[key]
    })
  },
  maskPhoneNum: function (phoneNum) {
    
    var phoneReg = getRegExp('(?:^(?:1\d{2})(\d{4})|^(?:0\d{2}-\d)(\d{4}))\d*')

    // r1 匹配到的手机号码片段，r2 匹配到的座机号码片段
    var phone = phoneReg.exec(phoneNum)[0]
    var r1 = phoneReg.exec(phoneNum)[1]
    var r2 = phoneReg.exec(phoneNum)[2]
    var r = r1 ? r1 : r2

    return phone.replace(r, '****')
  }
}
